<div>
  <p>
    <span> <%= tweet.user.name %></span>
    <span> @<%= tweet.user.username %></span>
    <span> <%= time_ago_in_words(tweet.created_at) %> ago</span>
  </p>
  <p>
    <%= tweet.body %>
  </p>
  <div>
    <p><%= link_to  image_tag("comment"), tweet_path(tweet) %> <%= tweet.replies_count %></p>
    <p><%= link_to  image_tag("like"), root_path %></p>
    <p><%= link_to  image_tag("edit"), root_path %></p>
    <p><%= link_to  image_tag("delete"), root_path %></p>
  </div>
  <hr>
</div> 
