<div class="tweet">
  <% if tweet.user.avatar.attached? %>
    <%= image_tag tweet.user.avatar, class: "tweet__avatar" %>
  <% else %>
    <%= image_tag "default_avatar", class: "tweet__avatar" %>
  <% end %>

  <div class="tweet__wrapper">
    <p class="tweet__info">
      <span class="h--regular h--bold"> <%= tweet.user.name %></span>
      <span> @<%= tweet.user.username %></span>
      <span> <%= time_ago_in_words(tweet.created_at) %> ago</span>
    </p>
    <p class="tweet__body h--regular">
      <%= tweet.body %>
    </p>
    <div class="tweet__links">
      <div>
        <%= link_to  image_tag("comment"), tweet_path(tweet) %> <%= tweet.replies_count %>
        <%= link_to  image_tag("like"), root_path %> <%= tweet.likes_count %>
      </div>
      <div>
        <%= link_to  image_tag("edit"), root_path %>
        <%= link_to  image_tag("delete"), root_path %>
      </div>
    </div>
  </div>
</div> 
