<div class="tweet">
  <p class="tweet__info">
    <span class="h--regular h--bold"> <%= tweet.user.name %></span>
    <%= link_to "@#{tweet.user.username}", profile_path(tweet.user), style: 'text-decoration: none; color: var(--text-secundary)'%>
    <span> <%= time_ago_in_words(tweet.created_at) %> ago</span>
  </p>
  <p class="tweet__body h--regular">
    <%= tweet.body %>
  </p>
  <div class="tweet__links">
    <div>
      <%= link_to  image_tag("comment"), tweet_path(tweet) %> <%= tweet.replies_count %>
      <%= link_to  image_tag("like"), root_path %> <%= tweet.likes_count %>
    </div>
    <div>
      <%= link_to  image_tag("edit"), root_path if policy(tweet).edit? %>
      <%= link_to  image_tag("delete"), root_path if policy(tweet).destroy?  %>
    </div>
  </div>
</div> 
