<h1 class="header h--large h--bold">Profile</h1>
  <div class="profile">
    <% if @user&.avatar.attached? %>
      <%= image_tag  @user.avatar, class: "profile__avatar" %>
    <% else %>
      <%= image_tag "default_avatar", class: "profile__avatar" %>
    <% end %>
    <p class="h--large h--bold"> <%= @user.name %></p>
    <p class="h--regular h--gray"> @<%= @user.username %></p>
    <p class="h--regular h--gray"> Joined on <%= @user.created_at.strftime("%B %d, %Y") %></p>
    <%= button_to  "Edit Profile", edit_user_registration_path(current_user), 
                    method: :get, class: "button button--ghost" if current_user == @user %>
  </div>
  <div class="profile_links">
    <% if @in_profile %>
      <%= link_to "Tweets", profile_path, class: "profile_link h--large h--bold h--primary"%>
      <%= link_to "Likes", profile_liked_tweets_path, class: "profile_link h--large h--bold"%>
    <% else %>
      <%= link_to "Tweets", profile_path, class: "profile_link h--large h--bold"%>
      <%= link_to "Likes", profile_liked_tweets_path, class: "profile_link h--large h--bold h--primary"%>
    <% end %>
  </div>
<p> <%= render @tweets %></p>