<div class="nav">
  <p><%= image_tag  "tweetable" %></p>
  <p><%= link_to  image_tag('home') + "Home", root_path, class: "h--large h--bold nav__link" %></p>
  <% if current_user %>
    <p><%= link_to  image_tag('profile') + "Profile", profile_path(current_user), class: "h--large h--bold nav__link" %></p>
    <p><%= button_to  "Logout", destroy_user_session_path, class: 'button button--ghost button--small', method: :delete %></p>
  <% else %>
    <p><%= button_to  "Login", new_user_session_path, class: 'button button--ghost button--small', method: :get %></p>
    <%= link_to "Continue with Google", user_google_oauth2_omniauth_authorize_path, 
                method: :get, class: "h--xsmall nav__link"%>
    <%= link_to  "Continue with Github",  user_github_omniauth_authorize_path, method: :get,
                  class: 'h--xsmall nav__link' %>
  <% end %>
</div>