<h2 class="header h--large h--bold">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form" }) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form__field" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form__field" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in", class: "button" %>
  </div>

  <div class="actions">
    <%= link_to  "Sign up", new_user_registration_path, class: "button button--ghost button--no-border" %>
  </div>
<% end %>
